<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teammayankteli1307.com.alaramclock">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/timerimage"
        android:label="@string/app_name"
        android:roundIcon="@color/Red"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlaramOffActivity" />
        <activity android:name=".QuestionActivity" />


        <activity android:name=".SetAlaram" />
        <activity android:name=".StopWatch" />
        <activity android:name=".CountTimer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyReceiver"
            android:process=":remote"
            >

        </receiver>
        <receiver android:name=".QuestionReciver"
            android:process=":remote"
            >


        </receiver>


        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />
        <service
            android:name=".QuestionAskingService"
            android:enabled="true" />
    </application>

</manifest>